@CHARSET "UTF-8";
body {
  font-family: "微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.page-title {
  font-family: "微软雅黑","Open Sans", sans-serif !important;
  font-size: 20px !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "微软雅黑","Open Sans", sans-serif !important;
}

.page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a {
    font-family: "微软雅黑","Open Sans", sans-serif !important;
	font-size: 12px !important;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a {
    font-family: "微软雅黑","Open Sans", sans-serif !important;
}
.vmcopy-margintop_cn{
  margin-top: 93px;
}
