@CHARSET "UTF-8";
.page-title {
  font-family: "Open Sans", sans-serif !important;
  font-size: 20px !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif !important;
}

.page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a {
    font-family: "Open Sans", sans-serif !important;
	font-size: 14px !important;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px !important;
}

.page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu{
	width: 200px;	
}

.bootstrap-select.btn-group > .disabled{
	cursor: not-allowed;
    background-color: #eeeeee;
}

.dashboard-stat.bc-noauth{
	 display:none;
	 background-color: #eb9f18;
}
.dashboard-stat.bc-errorAuth{
	display:none;
	background-color: #ec525e;
}
.dashboard-stat.bc-auth{
	display:none;
	background-color: #33af7d;
}
#current_job .vin_toolbar .real_time_protected .subDiv{
	width: 199px;
	right: -201px;
}
#comment li i{
	color:#666;
	font-size: 22px;
}
#comment li i:hover{
	color: #4ad1cd;
}
#comment li{
	margin-right: 15px;
	width: 30px;
	height: 30px;
	font-size: 22px;
}

#social li i{
	color:#333;
	font-size: 24px;
}
#social li i:hover{
	color: #1caf9a;
}
#social li .spicework{
	background: url(/img/platform/spicework.png) no-repeat;
	background-size: 22px 24px;
	position: absolute;
    display: block;
    width: 22px;
    height: 24px;
    top: 10px;
}
#social li .spicework:hover{
	background: url(/img/platform/spicework-hover.png) no-repeat;
	background-size: 22px 24px;
	position: absolute;
}
#social li{
	margin-right: 10px;
	width: 30px;
	height: 30px;
	font-size: 24px;
}
#comment li i{
	color:#666;
	font-size: 22px;
}
#comment li i:hover{
	color: #4ad1cd;
}
#comment li{
	margin-right: 15px;
	width: 30px;
	height: 30px;
	font-size: 22px;
}

.table.table-bordered tbody td{
	vertical-align: top;
	word-wrap: break-word !important;
    word-break: normal
}
#speedkitTips,
#speedkitTips2
{
	color:#5bc0de;
	margin:10px 0 0;
}
.padding0{
	padding: 0 !important;
	display:block;
}
.pl0_en{
	padding-left: 0px !important;
}
.pr0_en{
	padding-right: 0px !important;
}
.pt0_en{
	padding-top: 0px !important;
}
.w-70px_en{
	width: 70px !important;
}
.w-122px_en{
	width: 122px !important;
}
.break-word_en{
	word-break: break-word !important;
}
.pl5_en{
	padding-left: 5px !important;
}
/* 2022-11-2 start*/
.width130_en{width:140px !important;}

.about-border_en{
	border-bottom: 1px solid #eee;
}
.vmbackup-input-sm_en{
		height: 28px;
		padding: 5px 10px;
		font-size: 12px;
}
.vmbackup-mt10_en{
	margin-top:10px !important;
}

/* 2022-11-2 end*/

/* 2022-11-16 start*/
.screen-notshow_en{
	display: none;
}
.screen-taskline_en{
	width: 9.7rem;
}
.screen-dataline_en{
	width: 10.5rem;
}
.screen-monitorine_en{
	width: 12rem;
}
.screen-store_en{
	width: 12.3rem;
}
.screen-storedetail_en{
	width: 11rem;
}
.screen-node-title_en{
	margin-right: 4rem;
}
.page-infrastructure_en{
	margin-right: 4px;

}
.client-manager-notshow_en{
	display: none !important;
}

.system-text_en{
	width: 28%;
}
.system-node-text_en{
  width: 16%;
}
.alert-info .alert-ul, .alert-danger .alert-ul, .alert-warning .alert-ul, .alert-success .alert-ul {
	padding-inline-start: 54px !important;
}
#verificationContent #noAppTips .alert-ul, #verificationContent #marktips .alert-ul,#verificationContent #noobjecttips .alert-ul{
	padding-inline-start: 0px !important;
}

/* 2022-11-16 end*/

/* 2022-12-19 start*/
.vmbackdata-padding_en{
	padding-right: 0px;
}
.width165_en{
	width:165px !important;
}
.forgetPwdLine{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}


/* 2022-12-19 end*/

.task-alarm_en{
	width: 28% !important;
}
.task-alarm_content_en{
	width: 72% !important;
}
.vmcopy-margintop_en{
	margin-top: 44px;
}

.vmcopy-margintop_old_en{
	margin-top: 93px;
}
/* 2023-9-19 start*/
.buttonAction .login-btn-font_en{
	font-size: 13px !important;
	width: 120px !important;
}
.filtertable_btn_en{
	width: 50px !important;
	padding: 5px 3px !important;
}
.filter-content-label_en{
	width: 85px !important;
}
.label-success_en, .label-info_en , .label-danger_en , .label-default_en, .label-warning_en {
	width: 80px !important;
}

.bootstrap-table .label-success_en, 
.bootstrap-table .label-info_en ,
.bootstrap-table .label-danger_en ,
.bootstrap-table .label-default_en,
.bootstrap-table .label-warning_en {
	width: auto !important;
}

.customSearch-en{
	width: 220px !important;
}
/* 2023-9-19 end*/
/* 2024-3-19 start*/
#current_job .vin_toolbar .leftTool .addTask+ul li{
	width: 244px;
}
#current_job .vin_toolbar .subDiv{
	width: 244px;
	right: -246px;
}
#filterDiv .filter-content #job_status ul li label{
	width: 115px !important;
}
.bootstrap-table .btn-success{
	width: auto !important;
}

#userMangerDiv .bootstrap-table .fixed-table-body .dropdown-menu{
	min-width: 200px !important;
	left: -75px;
}
.user-width40_en{
	width: 40% ;
}
.user-width60_en{
	width: 60% !important;
}
.user-width30_en{
	width: 30% ;
}
#select_manager_permission .look-btn{
	margin-left: 3px !important;
}
.resource-ml70_en{
	margin-left: -70px !important;
}
.resource-ml80_en{
	margin-left: -80px !important;
}
.taskCrowd .unit{
	margin-right: 40px;
}
.panel-body .panel-body__gfs{
	display: block !important;
}
.bootstrap-table .fixed-table-pagination .page-list button{
	width: 88px !important;
}
.bootstrap-table .input-group-btn{
	background: none !important;
}
.page-sidebar-menu::-webkit-scrollbar{
	width: 4px !important;
}
.aws-recovery-20_en{
	width: 20%;
}
.aws-drawer-width_en{
	width: 444px;
}
#vmrecovercontent .tab-pane__body .tab-pane__body__form{
	width: 55%;
}
#checkapptips, .jobs-wrapper #addTaskTips{
	height: auto !important;
}
.jobs-wrapper .table-container.orchestration-job-table-container{
	height: calc(100% - 185px) !important;
}
#exchangebackupcontent .drawer {
	width: 610px !important;
}
#exchangebackupcontent .drawer .drawer-body label {
	width: 100%;
}
.mb-0_en{
	margin-bottom: 0px !important;
}
.ml-0_en{
	margin-left: 0px !important;
}
.mr-0_en{
	margin-right: 0px !important;
}
.jump-to-span{
	right: 156px !important;
}
.exchange-data_width50_en{
	width: 50% !important;
}
.select-file-title_en{
	width: 28% !important;
}
.select-file-content_en{
	width: 72% !important;
}
.form-repassword_en{
	margin-top: 40px !important;
}
.ml-26_en{
	margin-left: -26px !important;
}
/* 2024-3-19 end*/

/* 2024-7-8 start*/
.width80_en
{
	width: 80px !important;
}
.width80p_en{
	width: 80% !important;
}
.table-label_en{
	display: inline-block !important;
	text-align: center;
	line-height: 20px;
}
.select-more_en{
	width: 130px !important;
}
.col-md-3_en{
	width: 25% !important;
}
.col-md-9_en{
	width: 75% !important;
}
.width30_en{
	width: 30%;
}
.width20_en{
	width: 20% !important;
}
.tag_en{
	width: 80px !important;
}
.eventMode_en{
	height: auto !important;
}
.eventmode_en{
	flex-wrap: wrap;
	text-wrap: nowrap;
}
#jobOrchestration .vin_toolbar .columns .keep-open>ul{
	left: auto !important;
}
.agentNumber{
	margin-left: 5px !important;
}
.orchestration-detail #historyToolbar .dropdown-menu{
	left: auto !important;
}
#hadoopDetail #filters{
	text-wrap: nowrap;;
}
#hadoopDetail #selectAll{
	margin-left: 10px;
}
.tree-wrapper .tree-wrapper__operates .btn{
	width: auto !important;
}
.tag_status_en{
	width: 80px !important;
}
.width55_en{
	width: 55% !important;
}
.width45_en{
	width: 45% !important;
}
.ml200_en{
	margin-left: 200px !important;
}
.r100_en{
	right: -100px !important;
}
.r75_en{
	right: -75px !important;
}
.col-md-1_en{
	width: 8% !important;
}
.col-md-2_en{
	width: 16% !important;
}
.col-md-4_en{
	width: 33% !important;
}
.col-md-8_en{
	width: 67% !important;
}
.col-md-6_en{
	width: 50% !important;
}
.col-md-10_en{
	width: 84% !important ;
}
.col-md-5_en{
	width: 42% !important;
}
.col-md-7_en{
    width: 58% ;
}
.col-md-11_en{
    width: 91% ;
}
#obs_content .drawer-body-form-item .drawer-body-form-item__label{
	width: 145px;
}
#jobDetailDiv #tab_task_map .pr10_en{
	padding-right: 0px !important;
}
.pl10_en{
	padding-left: 10px !important;
}
#passFileModal .fixed-table-container{
	overflow: auto;
}
.textwrap_en{
	text-wrap: wrap;
}
.width37_en{
	width: 37%;
}
#verificationContent .src-wrap__content .src-wrap__content__ztree{
	height: calc(100% - 160px) !important;
}
#network_echars2{margin: 40px calc(25% - 155px) 0 calc(25% - 225px) !important;}
#network_echars3 {width: 240px !important;}

.min-width150_en{
	min-width: 150px ;
}
.ml-70_en{
	margin-left: 70px !important;
}
.ml-10_en{
	margin-left: 10px !important;
}
.ml-r30_en{
	margin-left: -30px !important;
}
.ml-r20_en{
	margin-left: -20px !important;
}
.pr10_en{
	padding-right: 10px !important;
}
#current_job .vin_toolbar .leftTool .addTask ul li{
	width: 160px;
}
#current_job .addTask{
	width: auto !important;
}
.mr-22_en{
	margin-right: -22px !important;
}
.pr35_en{
	padding-right: 35px !important;
}
.virus-body .center-title{
	width: 55% !important;
}
    


/* 605 start*/
#license .card-info-right span:first-child{
	width: 30% !important;
}
.upper-region .upper-region__left{
	margin-right: 10px !important;
	width: calc(100% - 50px) !important;
}
.addTaskList .subDiv ul li{
	justify-content: space-between !important;
}
#current_job .vin_toolbar .sub-subDiv{
	width: 200px;
	right: -202px;
}
.dropdown-filter-wrapper .filterSubmit,.dropdown-filter-wrapper .filterCancel{
	width: 60px !important;
}
#license #fs_capacity_auth .modellabel{
	width: 125px !important;
}
/* 添加脚本管理 */
#addScriptmodal .script_div .caption,
#editScriptmodal .script_div .caption{
	width: 20% !important;
}
.lower-region .recover-dropdown-wrapper .dropdown-menu li .route-btn{
	width: 100% !important;
}
.lower-region .lower-region__group:not(:last-child){
	margin-bottom: 10px !important;
}
.tendency-toolbar .toolbar-timepicker{
	min-width: 310px;
	justify-content: center;
}
/* 备份数据 */
.backupPointDrawer .search_sort-div .card-sort button{
	width: 90px !important;
}
.dropdown-wrapper .dropdown-menu li{
	white-space: nowrap;
}
.backupPointDrawer .point-actions li{
	width: auto !important;
}
/* 备份数据筛选框宽度 */
.backup_data-content .filterDiv{
	min-width: 250px !important;
}

#pointDetail .detail-content label{
	width: 150px !important;
}
.width100_en{
	width: 100px !important;
}
.virusStrategy .virusIncludeExcludeCollapse_nav-right .virus-include-exclude-item .add-btn{
	padding: 8px 5px !important;
}
.virusStrategy .virusIncludeExcludeCollapse ul.nav li.nav-item a{
	padding: 10px 5px;
}
.virusStrategy .virusIncludeExcludeCollapse ul.nav li.nav-item, .virusStrategy .virusIncludeExcludeCollapse ul.nav li.nav-item a.nav-link{
	font-size: 12px !important;
}
#vmrecovercontent .radio-group .radio-group__item{
	width: 153px !important;
	padding: 12px;
}
.page-sidebar-menu .title-text{
	font-size: 14px !important;
}
.page-sidebar-menu .title{
	font-size: 14px !important;
}
.networkConfigIpSetUl li.ip-set-head div.ip-set-head__ip,
.networkConfigIpSetUl li.ip-set-item div.ip-set-item__ip {
    width: 40% !important;
}

.networkConfigIpSetUl li.ip-set-head div.ip-set-head__netmask,
.networkConfigIpSetUl li.ip-set-item div.ip-set-item__netmask {
    width: 40% !important;
}
.networkConfigIpSetUl li.ip-set-head div.ip-set-head__operate,
.networkConfigIpSetUl li.ip-set-item div.ip-set-item__operate {
    width: 20% !important;
}
.networkConfigIpSetUl li.ip-set-head{
	font-size: 12px !important;
}
.table-scrollable .table tbody tr.vmnetwork  td:not(.dataTables_empty){
	padding: 3px;
}
.alert-wrapper .alert-title{
	min-width: 55px !important;
}
/* 当前任务列表显示 */
.menu-sub-dropdown{
	width: auto;
	white-space: nowrap;
}
.network_card .show_card_del .alert_card_submit ,.network_card .show_card_del .alert_card_cacel{
	width: 56px !important;
}
#verificationContent  #verifyMode .radio-group__item{
	height: 240px !important;
}
#verificationContent .virusBackupSelect .virusStrategy .panel-body label{
	padding-left: 0px;
	padding-right: 0px;
}
.drawer-footer button{
	width: auto !important;
	padding: 0px 14px !important;
}
#addDriverDrawer #addDriverForm .drawer-item-label{
	width: 120px !important;
}
.script_form_title{
	width: 20% !important;
}
.scriptDiv  .script_form_title{
	width: 27% !important;
}
.script_form_content{
	width: 79% !important;
}
/* 客户端管理提示信息高度 */
#clientmanagerdiv #client_manager_tip{
	height: auto !important;
}
#distribute, #strategyTableDiv #add{
	width: auto !important;
}
/* 自动升级提示信息 */
#autoup_tab #upgrade_manage_tip{
	height: auto !important;
}
/* 系统升级弹窗左边文字调节 */
#upgradeModal .upgrade-form .upgrade-form-item .upgrade-form-item__label:nth-child(1),
#upgradeModal .upgrade-form .upgrade-form-item .upgrade-form-item__label:nth-child(2)
{
	padding-right: 0px;
	line-height: 34px;
}
.wp-72_en{
	width: 72% !important;
}
#add_user_drawer {
	width: 700px !important;
}
/* 备份数据左边存储显示文字会超出范围 */
.backup_data-content .option_li-info{
	display: block;
}
.backup_data-content .option_li-info span:first-child{
	margin-right: 10px;
}
/* 备份数据任务筛选框第一列和第二列要12px间距 */
.backup_data-content #taskTableToolbar .dropdown-filter-wrapper .filter-module_type:first-child .filter-list{
	gap:12px;
}
.backup_data-content #taskTableToolbar .dropdown-filter-wrapper .filter-module_type:first-child .filter-list li{
  margin-top: 0px;
  margin-bottom: 0px;
}
.backup_data-content #taskTableToolbar .dropdown-filter-wrapper .filter-module_type:first-child ul{
	margin-top: 6px;
}
/* 节点资源限制日期样式调整 */
.custom-time__right .week-days__wrapper .week-days-item{
	width: auto !important;
	margin-right: 20px;
}
/* 添加代理资源池标题宽度 */
#modifyAgentPoolDrawer {
	width: 650px !important;
}
#modifyAgentPoolDrawer .drawer-body .form-group .drawer-item-label{
	width: 160px !important;
}
/* 英文版输入框placeholder字体调小 */
input::placeholder{
	font-size: 12px;
}
/* cdp实时cache刷新时间插件的每周选择框对齐 */
#tagpointstrategy .tagpointweekcheck > row > div,
#speedstrategy .weekcheck > row > div,
#backupTimestrategy .weekcheck > row > div{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#tagpointstrategy .tagpointweekcheck > row > div > label,
#speedstrategy .weekcheck > row > div > label,
#backupTimestrategy .weekcheck > row > div > label{
	display: flex;
	width: 33.3%;
	padding-right: 0px !important;
}
#speedstrategy .weekcheck > row > div > label .icheckbox_square-blue,
#backupTimestrategy .weekcheck > row > div > label .icheckbox_square-blue{
	margin-right: 0px;
}
/* 限速策略时间插件的每周选择框对齐 */
.setSpeedStrategy .tab-content{
	width: auto !important;
}
.setSpeedStrategy .tab-content .form-group-content{
	width: 238px;
}
.setSpeedStrategy .tab-content .endtimeDiv .form_datetime_speed{
	width: 252px;
}

.setSpeedStrategy .tab-content .date{
	width: 233px !important;
}
/* 解决全局限速策略左边标题换行的问题 */
#backupStrategyContent .setSpeedStrategy label{
	padding-left: 0px;
}

#mAddDrawer .control-label{
	padding-left: 0px;
	padding-right: 0px;
}
#mAddDrawer #speedstragegyaccordion .control-label.col-md-2.form-group-label{
		width: 21%;
}
#mAddDrawer #speedstragegyaccordion .control-label.col-md-2.form-group-top2-label{
		width: 21%;
}
#mAddDrawer	#speedstragegyaccordion .form-group .col-md-10{
		width: 79%;
}
/* 客户端页面搜索框宽度调整 */
#clientmanagerdiv .customSearch, #agentPoolDiv .customSearch, #clientmirrordiv .customSearch{
	min-width: 240px;
}
#nas_content .customSearch, #ClusterManagerDiv .customSearch{
	min-width: 220px;
}

#serviceManage .customSearch, #vmMachinediv .customSearch, #vmPrxyGatewaydiv .customSearch, #vmMachineLogdiv .customSearch,
#vin_select_resource_toolbar1 .customSearch,#driverContent .customSearch, #nodePoolList .customSearch, #kubernetes_table_toolbar .customSearch{
	width: 220px;
}
#kuberneteScriptDiv .customSearch, #virus_toolbar .customSearch{
	width: 250px;
}
.card-form .card-form-item .card-form-item__label{
	width: 100px !important;
}
/* 侧边栏宽度调整 */
.page-sidebar .page-sidebar-menu .sub-menu li>a{
	padding:6px 15px 6px 29px !important;
}
.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu > li > a{
	padding-left: 46px !important;
}
.setStrategy.form-group .form-group-content{
	height: auto;
}
/* 整机恢复第二步 */
.waitInitDiv label[name="recoverType"]{
	width: 200px !important;
}
/* m365下载验证报告按钮宽度调整 */
#reportEmail,#downloadReport{
	width: auto !important;
}
/* 集群管理配置项宽度调整 */
#clusterManager .has-config .control-label{
	width: 150px !important;
	margin-right: 0px !important;
}
#clusterManager .has-config .config-item{
	margin-right: 30px !important;
	width: 62.44px !important;
}
#switchMasterNode {
	/*调整切换主节点按钮宽度为138px*/
	width: 138px!important;
}
#clusterNodeSelect,
#clusterOperateProgress {
	/*150px为配置名称长度；20px是配置名称与配置项; 10px为配置项内部的宽度; 138px为切换主节点按钮宽度*/
	width: calc(var(--cluster-config-left-width) - 150px - 20px - 10px - 138px)!important;
}
/* 数据库任务详情 */
#detailSearch {
	width: 270px !important;
}
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
/* 英文版第三步每个模块小标题padding改成0px */
.tabs-left.nav-tabs>li>a{
	padding-left: 0px;
	padding-right: 0px;
}
#dbbackupcontent .tab-pane__body__form{
	width: 53%;
}
#completeConfig .bodyComplete{
	padding-left: 10px;
	padding-right: 0px;
}
#completeConfig .bodyText{
	margin-right: 8px;
}
#completeConfig .virus-item {
	display: flex;
}
#completeConfig .virus-item label{
	flex-shrink: 0;
	width: calc(100% - 16px);
	padding-left: 8px;
	white-space: nowrap;
}
#completeConfig .virus-item input[type=radio]{
	margin-right: 0px;
	margin-top: 2px;
}
#instant_job_detail .textonline{
	width: 222px !important;
}
.fileCachePathButton{
	width: 140px !important;
}
.dbcdp-table-bottom_en{
	white-space: nowrap;
	font-size: 11px;
}
#oracleRecoveryTimeSelectPicker label[for=oracleRecoveryTimeSelectTime], #tidbRecoveryTimeSelectPicker label[for=tidbRecoveryTimeSelectTime]{
	width: 120px !important;
}
.visual .vm-tag-title{
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 0px;
}
.visual .sub-slide{
	font-size: 15px;
}
.osselect_en{
	width: 40%;
}
.osselect_en select{
	width: 100% !important;
}
#completeMachineVolcdprecoverycontent .radio-group__item_en{
	width:210px !important;
}
.nowrap_en{
	white-space: nowrap;
}
.visual-middle .task-gaugename{
	font-size: 14px;
}
.visual-middle .task-gaugename-box{
	width: 9rem;
}
#completeMachineVolcdpbackupcontent #hostappdiv .src-wrap__content .src-wrap__content__voltree .vcenter-tree,
#completeMachineVolcdpbackupcontent #hostvoldiv .src-wrap__content .src-wrap__content__voltree .vcenter-tree{
	height: calc(100% -  69.13px);
}
/* 用户资源管理提示框宽度增加 */
#resource_allocation_modal .resourceSearch {
	width: 220px;
}
/* 卷实时页面第一步表格分页页脚 */

.resource-manager-wrap .resource-manager-wrap__content .table-container.upgrade-manager-table-container {
	height: calc(100% - 145px)!important;
}
/* 系统升级页面日志高度调整 */
#upgradeModal .upgrade-wrapper .upgrade-wrapper-log .upgrade-wrapper-log__item{
	height: auto;
}
/* 英文版小分辨率调整 */
#hostvoldiv .table-container .table-page .page-right{
	width: 100%;
	white-space: nowrap;
}
.backup_data-content #pointListDrawer .card-info-label{
	display: inline-block;	
	width: 40%;
	margin-right: 8px;
}
.gap-20_en{
	gap: 20px;
}
.lh-22_en{
	line-height: 22px;
}
/* 虚拟机备份第一步右边顶部样式调整 */
#vmbackupcontent .addTitle > span{
	width: calc(100% - 260px);
	text-align: left;
	display: flex;
	align-items: center;
	white-space: nowrap;
}
#vmbackupcontent .addTitle .count-total{
	width: calc(100%- 200px);
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#vmbackupcontent .addTitle > div{
	height: 18px;
}
/* 驱动管理详情顶部标题宽度调整 */
#driverDetailForm .detail-preview-div .detail-preview__item-label{
	width: 150px !important;
}
/* 备份节点资源池修改弹窗里标题宽度调整 */
#modifyNodePoolDrawer{
	width: 700px !important;
}
#modifyNodePoolDrawer .drawer-body .form-group .drawer-item-label{
	width: 160px !important;
}
#nodePoolTopologicalDrawer{
	width: 600px !important;
}
/* 备份节点资源限制弹窗里面的禁用时间间隔 */
#resourceLimitModal #prohibitTimePeriod .custom-time__right .month-days__wrapper, .custom-time__right .week-days__wrapper{
	justify-content: space-between;
}
#resourceLimitModal #prohibitTimePeriod .custom-time__right .week-days__wrapper .week-days-item{
	width: 50% !important;
	margin-right: 0px !important;
}
/* 客户端代理创建镜像弹窗标题宽度调整 */
#clientmirrordiv #ipConfig_ipv4_form .networkConfigLabel,#clientmirrordiv #ipConfig_ipv6_form .networkConfigLabel{
	width: 22%;
}
/* 修改客户端弹窗标题宽度调整 */
#editModal .form-horizontal .control-label{
	width: 28%;
}
/* 副本/副本回传/归档/归档回传第一步标题 */
.src-search_label {
	width: 128px !important;
	flex-shrink: 0;
}
/* 自定义报表抽屉邮件通知每周选择 */
#custom_report_form #weekly_report_pane .checkbox-wrapper .checkbox-wrapper__item{
	width: 50% !important;
}
/* 授权页面模块高度调整 由于虚拟化按照CPU授权并且包含了zstack下面那一行文字过长*/
#license .module-content .item-content{
	height: 90px;
}
/* 2024-7-8 end*/
@media (max-width: 1880px) {
	#completeMachineVolcdpbackupcontent #hostvoldiv .src-wrap__content .src-wrap__content__voltree .vcenter-tree{
		height: calc(100% -  87.69px);
	}
}
@media (max-width: 1770px) {
	#backup_data-content .vin_toolbar .dropdown-menu{
		left: -260px !important;
	}
	/* 文件复制第一步按钮位置 */
	#fileCopyContent .add-list-div{
		margin-left: -15px;
	}
	#fileCopyContent .add-list-div::before{
		left: calc(-513% + 10px) !important;
	}
	#speedstragegyaccordion .panel-body > .row > .col-md-9{
		padding-left: 10px !important;
		padding-right: 0px;
	}
}
@media (max-width: 1757px) { 
	/* 设置限速策略小分辨率样式调整 */
	#speedstragegyaccordion .control-label.col-md-2.form-group-label{
		width: 25%;
	}
	#speedstragegyaccordion .control-label.col-md-2.form-group-top2-label{
		width: 25%;
	}
	#speedstragegyaccordion .form-group .col-md-10{
		width: 75%;
	}
}
@media (max-width: 1718px) {
	#takeoverSafetyConf_takeOverSet .form-group label{
		width: 30%;
	}
	#takeoverSafetyConf_takeOverSet .form-group > div.col-md-9_en{
		width: 70% !important;
	}
	.virusTakeoverStrategy #takeoverSafetyConf_takeOverSet .radio-group .radio-group__item {
		padding-left: 10px;
		padding-right: 10px;
		width: 150px;
	}
}
@media (max-width: 1696px) {
    #network_echars2{margin: 58px calc(25% - 100px) 0 calc(25% - 273px) !important;}
	#tenantDrawer.drawer{
		width: 49% !important;
	}
	#virusConfig_virus-scan-strategy .control-label.col-md-2{
		width: 25%;
	}
	#virusConfig_virus-scan-strategy .virusScanSpecifyItem .col-md-offset-2{
		margin-left: 25%;
		width: 75%;
	}
	#speedstrategy .weekcheck > row > div > label,
	#backupTimestrategy .weekcheck > row > div > label{
		width: 50%;
	}
}
@media (max-width: 1681px) {
	.jobs-wrapper .table-container.orchestration-job-table-container{
		height: calc(100% - 204px) !important;
	}
	
}
@media (max-width: 1657px) {
	#clientmanagerdiv .client-manager-table-container{
		height: calc(100% - 203.6px) !important;
	}
}


@media (max-width: 1580px){
	#fileCopyContent .tab-pane__row .tab-pane__row__source{
		height: 70% !important;
	}
	/* 报表概览 */
	.virtual-wrap .virtual-wrap__info .virtual-wrap__info__des{
		font-size: 12px;
	}
	/* 病毒库管理 */
	.vender-item{
		width: 49% !important;
	}
	.backup_data-content #pointListDrawer .card-info-label{
		width: 48%
	}
}
@media (max-width: 1562px){
	.client-group-table-wrap #client_group_table_tip{
		height: 118.5px !important;
	}
	.client-group-table-wrap .table-container{
		height: calc(100% - 162.5px);
	}
}
@media (max-width: 1532px){
	.client-group-table-wrap #client_group_table_tip{
		height: 137px !important;
	}
	.client-group-table-wrap .table-container{
		height: calc(100% - 181px);
	}
	#clientmanagerdiv .client-manager-table-container{
		height: calc(100% - 222.16px) !important;
	}
}
@media (max-width: 1502px) {
	#takeoverSafetyConf_takeOverSet .form-group label{
		width: 35%;
	}
	#takeoverSafetyConf_takeOverSet .form-group > div.col-md-9_en{
		width: 65% !important;
	}
}
@media (min-width: 1440px) and (max-width: 1588px){
	.system-nodewidth_en{
		width: 28%;
	}
	.system-pickerwidth_en{
		width: 30.33333333%;
	}
	.system-picker_en{
		width: 100%;
	}
	.system-node-text_en{
		width: 14%;
	}
	.system-text_en{
		width: 33%;
	}
	.agentBottom{
		padding: 0px !important;
	}
}
@media (max-width: 1527px) {
	#completeMachineVolcdpbackupcontent #hostappdiv .src-wrap__content .src-wrap__content__voltree .vcenter-tree{
		height: calc(100% -  87.69px);
	}
}
@media (max-width: 1510px) {
	.vin_toolbar .left-toolbar-item{
		margin-right: 5px !important;
	}
	.setSpeedStrategy #speedstragegyaccordion .strategy-panel{
		height: auto !important;
	}
}
@media (max-width: 1462px) {
	#completeMachineVolcdpbackupcontent #hostvoldiv .src-wrap__content .src-wrap__content__voltree .vcenter-tree{
		height: calc(100% -  106.25px);
	}
	#hostvoldiv .table-container .table-page .page-right .dataTables_length select{
		width: 60px !important;
		min-width: 60px !important;
	}
}
@media (max-width:1440px){
	.setSpeedStrategy .tab-content .form-group-content{
		width: 222px !important;
	}
	#takeoverSafetyConf_takeover_select.radio-group .radio-group__item{
		width: 152px;
	}
	/* 当前任务列表顶部调整 */
	#vin_current_toolbar #current_job_seach_ipt.customSearch{
		min-width: 148px !important;
		width: 148px;
	}
	#current_job_tabpane #vin_current_toolbar .btn{
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media (max-width: 1395px){
	#verificationContent #search{
		width: 169px;
		flex-shrink: 0;
	}
	#verificationContent #verify_filter_btn{
		padding-left: 7px;
		padding-right: 7px;
	}
	.virusTakeoverStrategy #takeoverSafetyConf_takeOverSet .radio-group .radio-group__item {
		padding-left: 5px;
		padding-right: 5px;
		width: 140px;
	}
}

@media (min-width: 1360px) and (max-width: 1439px){
	.system-text_en{
		width: 40%;
	}
	.system-timewidth_en > div{
		width: 60%;
	}
	#hostvoldiv .table-container .table-page .pagination-panel .btn{
		width: 25px;
	}
	#hostvoldiv .table-container .pagination-panel>input{
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.backup_data-content #pointListDrawer .search_sort-div .customSearch{
		padding-right: 12px !important;
	}

}
@media (max-width:1420px){
	.tabs-left.nav-tabs>li>a{
		font-size: 15px !important;
	}
}
@media (max-width:1366px){
	button.btn.btn-success {
		max-width: 80px;
		padding: 3px;
		font-size: 12px;
	}
	.btn-sm>[class*="glyphicon-"],btn-sm>i {
		font-size: 10px;
	}
	#agentTable .table-scrollable > .table-bordered > tbody > tr:last-child > td,
	#dbJobTable tbody tr td:nth-child(12) {
		position: relative;
	}
	#agentTable button.btn.btn-success,
	#dbJobTable tbody tr td:nth-child(12) .btn-success {
		position: absolute;
		left: -4px;
	}
	#accordionhigh .control-label {
		padding: 7px 0 0 0;
	}
	#encrypt .transferlabel {
		width: 31%;
	}
	.portlet.box.blue-hoki .pl0_1200 {
		padding-left: 0;
	}
	.tabs-left.nav-tabs>li>a{
		font-size: 14px !important;
	}
	
}
@media (max-width: 1401px) {
	.resource-manager-wrap .resource-manager-wrap__content .table-container.upgrade-manager-table-container {
		height: calc(100% - 165px)!important;
	}
}
/* 605 end*/